<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Foodeiblog Template">
    <meta name="keywords" content="Foodeiblog, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Top News</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Unna:400,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
    <%- include('./partials/header.ejs') %>

    <!-- Categories Section Begin -->
    <section class="categories categories-grid spad">
        <div class="categories__post">
            <div class="container">
                <div class="categories__grid__post">
                    <div class="row">
                        <div class="col-lg-8 col-md-8">
                            <form action="/search" method="get">
                                <!-- Search box -->
                                <input type="text" name="query" placeholder="Search Here" style="height: 46px;">
                                <button type="submit" class="site-btn">Search</button>
                            </form>
                            <br>
                            <!--Get news from NewsAPI-->
                            <% articles.forEach((article)=> { %>
                                <div class="categories__list__post__item">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="categories__post__item__pic set-bg">
                                                <img src="<%= article.urlToImage %>">
                                                <div class="post__meta">
                                                    <h4>
                                                        <%= new Date(article.publishedAt).getDate() %>
                                                    </h4>
                                                    <span>
                                                        <%= new Date(article.publishedAt).toLocaleString('default', {
                                                            month: 'short' }) %>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="categories__post__item__text">
                                                <span class="post__label">
                                                    <%= article.source.name %>
                                                </span>
                                                <h3><a href="/news-detail?author=<%= article.author ? encodeURIComponent(article.author) : '' %>&title=<%= encodeURIComponent(article.title) %>"><%= article.title %></a></h3>
                                                <ul class="post__widget">
                                                    <li>by <span>
                                                            <%= article.author %>
                                                        </span></li>
                                                    <li>from <span>
                                                            <%= article.source.name %>
                                                        </span></li>
                                                </ul>
                                                <p>
                                                    <%= article.content %>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% }) %>
                                    <!-- End List -->
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="sidebar__item">
                                <!-- sort function-->
                                <div class="sidebar__feature__item">
                                    <div class="sidebar__item__title">
                                        <h6>SORT BY</h6>
                                    </div>
                                    <form action="/" method="get">
                                        <input type="hidden" name="category" value="<%= category %>">
                                        <button type="submit" class="site-btn" name="sort" value="new"
                                            class="<%= sort === 'new' ? 'active' : '' %>">Latest</button><br><br>
                                        <button type="submit" class="site-btn" name="sort" value="old"
                                            class="<%= sort === 'old' ? 'active' : '' %> site-btn">Oldest</button>
                                    </form>
                                </div>

                                <div class="sidebar__item__categories">
                                    <div class="sidebar__item__title">
                                        <h6>Categories</h6>
                                    </div>
                                    <ul>
                                        <li><a href="/?category=all">All</a></li>
                                        <li><a href="/?category=technology">Technology</a></li>
                                        <li><a href="/?category=business">Business</a></li>
                                        <li><a href="/?category=sports">Sports</a></li>
                                        <li><a href="/?category=science">Science</a></li>
                                        <li><a href="/?category=entertainment">Entertainment</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->

    <!-- Search -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search -->

    <!-- Js Plugins -->
    <script src="news.js"></script>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>