<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Foodeiblog Template">
    <meta name="keywords" content="Foodeiblog, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>News Details</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Unna:400,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
    <%- include('./partials/header.ejs') %>

    <!-- Single Post Section Begin -->
    <section class="single-post spad">
        <div class="single-post__hero set-bg" data-setbg="<%= urlToImage %>"></div>
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <div class="single-post__title">
                        <div class="single-post__title__meta">
                            <h2>
                                <%= formattedDate %>
                            </h2>
                            <span>
                                <%= month %>
                            </span>
                        </div>
                        <div class="single-post__title__text">
                            <ul class="label">
                                <li>
                                    <%= source.name %>
                                </li>
                            </ul>
                            <h3>
                                <%= title %>
                            </h3>
                            <br>
                        </div>
                    </div>
                    <div id="success-alert" class="alert alert-success alert-dismissible fade show" role="alert"
                        style="display: none;">
                        Successfully added to bookmark. <a href="/bookmark">Go to Bookmark</a>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="single-post__recipe__details">
                        <div class="single-post__recipe__details__option">
                            <ul>
                                <li>
                                    <h5><i class="fa fa-user-o"></i> AUTHOR</h5>
                                    <span>
                                        <%= author %>
                                    </span>
                                </li>
                                <li>
                                    <h5><i class="fa fa-clock-o"></i> DATE</h5>
                                    <span>
                                        <%= date.toDateString() %>
                                    </span>
                                </li>
                                <li>
                                    <h5><i class="fa fa-clock-o"></i> SOURCE</h5>
                                    <span>
                                        <%= source.name %>
                                    </span>
                                </li>
                                <li>
                                    <button onclick="addToBookmark('${encodeURIComponent(title)}', '${encodeURIComponent(author)}', '${encodeURIComponent(source.name)}', '${encodeURIComponent(description)}')" class="primary-btn"><i class="fa fa-bookmark"></i> Add to Bookmark</button>
                                </li>
                            </ul>
                        </div>
                        <div class="single-post__recipe__details__indegradients">
                            <h5>Story:</h5>
                            <p>
                                <%= description %>
                            </p>
                        </div>
                    </div>
                    <div class="single-post__quote">
                        <p>
                            <%= content %>
                        </p>
                        <span><a href="<%= url %>" target="_blank"><b>Click Here for the News Source</b></a></span>
                    </div>
                    <div class="single-post__author__profile">
                        <div class="single-post__author__profile__pic">
                            <img src="img/profile.png" alt="">
                        </div>
                        <div class="single-post__author__profile__text">
                            <p>Author:</p>
                            <h4>
                                <%= author %>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Single Post Section End -->
    <!-- Bookmark Save Function -->
    <script>
        function addToBookmark(title, author, sourceName, description) {
            const url = '/bookmark' +
                '?title=' + encodeURIComponent(title) +
                '&author=' + encodeURIComponent(author) +
                '&sourceName=' + encodeURIComponent(sourceName) +
                '&description=' + encodeURIComponent(description)

            fetch(url, { method: 'POST' })
                .then(response => {
                    if (response.ok) {
                        console.log('Bookmark saved to database');
                        document.getElementById('success-alert').style.display = 'block';
                    } else {
                        console.error('Error saving bookmark to database:', response.status);
                    }
                })
                .catch(error => {
                    console.error('Error saving bookmark:', error);
                });
        }
    </script>
    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__text">
                        <div class="footer__logo">
                            <a href="#"><img src="img/logo.png" alt=""></a>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut<br /> labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus
                            commodo viverra<br /> maecenas accumsan lacus vel facilisis. </p>
                        <div class="footer__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                            <a href="#"><i class="fa fa-envelope-o"></i></a>
                        </div>
                    </div>
                    <div class="footer__copyright">
                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This
                            template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a
                                href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>
